<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Add HTTP URI</h4>
</div>
<div class="modal-body">
    <p>{{modal.content}}</p>
    <br />
    <pre>2 + 3 = {{ 2 + 3 }}</pre>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="modal.saved=true;hide()"><i class="icon-ok icon-white"></i> Add</button>
    <button type="button" class="btn btn-inverse" data-ng-click="hide()"><i class="icon-remove icon-white"></i> Cancel</button>
</div>